.footer{
    width:100%;
    height:10vh;
    background-color: rgb(35, 32, 32);
}
.foot-left{
    float:left;
    padding:10px;
    padding-left:120px;
    padding-top:20px;
    color:grey;
}
.foot-left span{
    color:white;
}
.foot-right{
    float:right;
    padding:10px;
    padding-right:150px;
    padding-top:20px;
    color:grey;
}
.foot-right span{
    color:white;
}