.work-main-container {
    width: 90%;
    /* background-color: black; */
    height: 160vh;
    margin-left: 70px;
}
.work-main-container h2 {
    color: black;
    text-align: center;
    padding-top: 20px;
}
.frst-row,.scnd-row {
    display: flex;
    width: 100%;
    margin-left: 70px;
    gap:20px;

}
.works {
    /* background-color: hsl(37, 63%, 55%); */
    padding: 20px;
    padding-top:12vw;
    padding-left:60px;
    height: 60vh;
    position: relative;
    width: 300px;
    color: black;
    font-family: sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
/* .works h3,p,a{
    padding-top:80px;
} */
.work-img {
    width: 16vw;
    height: auto;
    position: absolute;
    top: -50px;
    right: 0px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.read-more {
    display: inline-block;
    margin-top: 20px;
    background: white;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.read-more span {
    margin-left: 5px;
}
.read-more:hover {
    background-color: black;
    color: white;
}
