.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(42, 41, 41);
    height: 60vh;
}

.contact {
    padding: 20px;
    color: white;
    /* margin-left:70px */
}

.contact h3 {
    color: white;
    margin-bottom: 15px;
}

.contact > p {
    margin: 5px 0;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact > p > i {
    color: #d69e2e;
}

.social-icons {
    display: flex;
    color: black;
    gap: 10px;
}

.social-icons i {
    padding: 10px;
    background-color: white;
}

.contact a {
    text-decoration: none;
    color: grey;
    display:inline-block;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transform and color transition */
}

.contact a:hover {
    transform: scale(1.05);
    color: rgb(212, 143, 14);
}

.contact span {
    color: #d69e2e;
    margin-right: 5px;
    font-weight: bold;
}

.contact p {
    color: grey;
}

.gallery-image {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.gal-img {
    width: 100px;
    margin-top: 5px;
}
